@import "../../vars.css";

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 18px 24px;
  max-width: 345px;
}

.project-card__img {
  margin-bottom: 26px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(37, 37, 37, 0.4);
}

.project-card__title {
  font-size: 1.2rem;
  font-weight: 700;
  max-width: 45ch;
}
 
.project-card-description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}

.project-card__skills {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style: none;
}

.project-card__skill-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects__checkmark-img {
  width: 1.2rem;
  height: 1.2rem; 
  color: #FDC435;
  margin: 0 1rem 0 0;
}

.project-card__skill {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-subtext);
}

.project-card__links {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.project-card__link {
  text-decoration: none;
  /* color: #F9FAFB; */
  color: var(--color-text);
  border: 1px solid #ccc;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-bg);
  padding: 0 1.7rem;
}

.project-card__link:hover {
  color: var(--color-comp-text) ;
  background-color: var(--color-comp-bg) ;
  transition: all 0.3s;
}
