@import "../../vars.css";

.hero {
  /* max-width: 100%; */
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10rem;
  /* border: 1px solid red; */
}

.hero__content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center ;
  color: var(--color-text);
  z-index: 1;
}

.hero__greeting {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  max-width: 20ch;
  margin-bottom: 1rem;
  color: #FDC435;
  text-transform: uppercase;
}

.hero__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.05em;
  max-width: 20ch;
  /* border: 1px solid red; */
}

.hero__description {
  /* border: 1px solid red; */
  text-align: center;

  font-size: 1.2rem;
  font-weight: 400;
  max-width: 50ch;
  margin: 1.5rem 0;
}

.hero__image {
  /* border: 1px solid red; */
  width: 50%;
  z-index: 1;
  height: 27rem;
  width: 26rem;
  border-radius: 50%;
}

.hero__btn-container {
  /* border: 1px solid red; */
  display: flex;
  gap: 1rem;
}

.hero__btn1 {
  background-color: #FDC435;
  color: #000;
  border: #FDC435;
}


/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .hero {
    margin-top: 3rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__description {
    max-width: 45ch;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .hero {
    margin-top: 3rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    max-width: 45ch;
    font-size: 0.9rem;
  }

  .hero__image {
    height: 20rem;
    width: 19rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  
  .hero {
    margin-top: 5rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    max-width: 45ch;
    font-size: 0.7rem;
  }

  .hero__image {
    height: 18rem;
    width: 17rem;
  }
  
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  .hero {
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }

  .hero__image {
    height: 14rem;
    width: 13rem;
  }

  .hero__title {
    font-size: 2rem;
  }
  
  .hero__greeting {
    font-size: 1rem;
  }

  .hero__description {
    font-size: 0.9rem;
    max-width: 45ch;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .hero {
    margin-top: 3rem;
  }

  .hero__image {
    height: 15rem;
    width: 14rem;
  }

  .hero__title {
    font-size: 2rem;
  }
  
  .hero__greeting {
    font-size: 1rem;
  }

  .hero__description {
    font-size: 0.9rem;
    max-width: 45ch;
  }
}
