@import "../../vars.css";

.contact-container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  /* background-color: var(--color-dark); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 58px 10%;
  gap: 10px;
}

.contact-text {
  color: #FFFEFE;
}

.contact-text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 20px;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.contact-link a {
  color: #FFFEFE;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contact-links img{
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 830px) {

  .contact-container{
    flex-direction: column;
    gap: 23px;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-links{
    align-items: center;
  }

  .contact-links img{
    height: 10%;
    width: 10%;
  }

  .contact-link a {
    font-size: 12px;
  }

  .contact-text h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
}