@import "../../vars.css";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
  color: var(--color-text);
  /* border: 1px solid red; */
}

.contact__title{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}

.contact__subtitle {
  text-align: center;
  color: var(--color-subtext);
}

.contact__links {
  margin-top: 2rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  list-style: none;
}

.contact__link {
  margin: 0.9rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* border: 1px solid red; */
}

.contact__link a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-text);
}

.contact__link img {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
  color: var(--color-text);
}
.contact__mail-icn {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 0.5rem;
  color: var(--color-text);
}

.contact__linkedin-icn {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 0.5rem;
  color: var(--color-text);
}

.contact__github-icn {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0 0.5rem;
  color: var(--color-text);
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .contact__title {
    font-size: 2.5rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .contact__title {
    font-size: 2rem;
  }

  .contact__links {
    width: 85%;
  }

}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 1475px;
  }

  .contact__github-icn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contact__mail-icn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .contact__linkedin-icn {
    width: 1.5rem;
    height: 1.5rem;
  }

}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  
  .contact {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}


/* @media screen and (max-width: 734px) {

  .contact-container{
    flex-direction: column;
    gap: 23px;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-links{
    align-items: center;
  }

  .contact-links img{
    height: 10%;
    width: 10%;
  }

  .contact-link a {
    font-size: 12px;
  }

  .contact-text h2 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
} */