@import "../../vars.css";

.experience {
  color: var(--color-text);
  margin-top: 15rem;
  /* border: 1px solid red; */
}

.experience__title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: var(--color-text);
}

.experience__subtitle {
  text-align: center;
  color: var(--color-subtext);
}

.experience__content {
  margin-top: 3rem;
 
}

.experience__history {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}

.experience__history-item {
  border: 1px solid #ccc;
  background-color: var(--color-bg);
  list-style: none;
  /* width: 25%; */
  border-radius: 15px;
  padding: 2rem 2rem 1rem 2rem;
}

.experience__history-item img {
  border-radius: 12px;
}

.history__item-details {
  margin-top: 1rem;
}

.history__item-detail {
  font-size: 1.2rem;
  font-weight: 600; 
  max-width: 20ch;
}

.history__item-date {
  font-size: 0.9rem;
  font-weight: 300;
}

.history__tab-button {
  display: flex;
  align-items: center;
  width: 45%;
  margin: 1rem 0 0;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.history__item-arrow {
  width: 0.9rem;
  height: 0.9rem;
}

.history__tab-button:hover .history__item-arrow {
  transform: translateX(0.5rem);
  transition: 0.3s;
}

.history__item-expanded-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.history__item-expanded-details-box {
  width: 500px;
  position: relative;
  background-color: var(--color-bg);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}

.history__item-close-mod {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--color-text);
  cursor: pointer;
}

.experience__item-expanded-title {
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.history__item-expanded-details-box ul {
  list-style: inside;
  padding-left: 1rem;
}

.history__item-add-description {
  width: 45ch;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  text-indent: -1.3rem;
  padding-left: 1rem;
}

.history__item-expanded-active {
  opacity: 1;
  visibility: visible;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .experience {
    margin-top: 5rem;
  }

  .experience__title {
    font-size: 2.5rem;
  }

  .experience__content {
    margin-top: 2rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .history__item-detail {
    font-size: 0.9rem;
    /* max-width: 20ch; */
  }

  .history__item-date {

    font-size: 0.8rem;
  }

  .history__tab-button {
    width: 6rem;
  }

}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .experience {
    margin-top: 5rem;
  }

  .experience__title {
    font-size: 2rem;
  }

  .experience__history {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience__history-item {
    flex: 1;
    width: 50%;
  }

  .history__item-detail {
    font-size: 1rem;
    max-width: 55ch;
  }

  .history__item-img {
    width: 6rem;
    height: 6rem;
  }

  .history__item-expanded-details-box {
    width: 65%;
  }

  .history__item-expanded-details-box ul {
    list-style: inside;
    padding-left: 1rem;
  }
  
  .history__item-add-description {
    max-width: 45ch;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-indent: -1.3rem;
    padding-left: 1rem;
  }

}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 1475px;
  }

  .experience__history-item {
    width: 60%;
  }

  .history__item-expanded-details-box {
    width: 95%;
  }

  .history__item-expanded-details-box ul {
    list-style: inside;
    padding-left: 1rem;
  }
  
  .history__item-add-description {
    max-width: 38ch;
    font-size: 0.7rem;
    margin: 0.5rem 0;
    text-indent: -1rem;
    padding-left: 1rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .experience__history-item {
    width: 65%;
  }

  .history__item-expanded-details-box ul {
    list-style: inside;
    padding-left: 1rem;
  }
  
  .history__item-add-description {
    max-width: 35ch;
    font-size: 0.7rem;
    margin: 0.5rem 0;
    text-indent: -1rem;
    padding-left: 1rem;
  }
  
}
