@import "../../vars.css";

.toggle-container { 
  display: flex;
  align-items: center;
}

.size-6 {
  width: 1.3rem;
  height: 1.3rem;
}

/* @media screen and (max-width: 830px) {
  .toggle-button {
    width: 5.5%;
  }
} */
