:root{
  /* Light mode Colors */
  --color-text: #252525;
  --color-primary: #7A8C99 ;
  --color-secondary: #7A8C99 ;
  --color-dark: #333333;
  --color-bg: #F9FAFB;
  --my-name: linear-gradient(90deg, rgba(37, 37, 37, 1) 70%, rgba(37, 37, 37, 0) 120%);
  --toggle-shadow: 0 6px 6px 0 rgb(37, 37, 37, 0.6);
  --toggle-color: #ebebeb;
  
  /* Fonts */
  --font-robot: "Roboto"
}


[data-theme="dark"] {
  --color-text: #FFFEFE;
  --color-primary: #425664;
  --color-secondary: #425664;
  --color-dark: #333333;
  --color-bg: #252525;
  --my-name: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
  --toggle-shadow: 0 6px 6px 0 rgba(8, 8, 8, 0.9);
  --toggle-color: #353535;
}
